.paginator{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(34, 44, 67);
    width: 825px;
    height: 48px;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}
.portion{
    position: absolute;
    left: 220px;
    top: 10px;
    margin: 0 auto;
}
.pageNumber{
    font-size: 14px;
    color: white;
    cursor: pointer;
    margin: 4px;
}
.paginator button{
    border: none;
    color: white;;
    background: none;
    outline: none;
}
.selectedPage {
   font-size: 17px;
   color: hotpink;
}